/*---------
TA
---------------------
*/
*{
  margin:0;
  padding:0;
  font-family:sans-serif;
  --color1b:rgba(37, 37, 131, 0.911);
  --color1b2:rgba(0, 0, 255, 0.23);
  --color2w:white;
  --color3g:rgb(60, 58, 58);
  --color3g2:rgba(128, 128, 128, 0.333);
  --color4ck:black;
  --color6gr:rgba(61, 149, 61, 0.59);
}
#foothtml{
width:1512px;
position: relative;
top:850px;
}
/*--------------------
navbar
--------------------------*/
#logo{
cursor:pointer;
height:32px;
width:49px;
position:absolute;
top:5px;
left:40px;
border:4px rgba(255, 255, 255, 0.266) solid;
box-shadow: black 2px 2px;
}
.navbar ul li{
list-style-type: none;
padding:1px;
display:inline-flex;
flex-direction: column-reverse;
position:relative;
right:40px;
margin:0 3px;
}
#maintittle{
position: absolute;
left:70px;
display: inline-block;
top:180px;
color:white;
background-color: #3e3e3e;
padding:6px;
}
#maintittle:hover{
background-color: whitesmoke;
color: var(--color1b2);
cursor: pointer;
}
#maintittle::after{
content:'';
height:4px;
width:0;
position:absolute;
left:0;
top:36px;
background:var(--color1b);
bottom:-2px;
transition:0.5s;    
}
#maintittle:hover:after{
width:100%;
}
#nimg2{
position: relative;
top:50px;
z-index:-2;
height:190px;
width:100%;
}
.navbar ul li a{
text-decoration:none;
color:var(--color2w);
background-color: rgba(0, 0, 0, 0);
}
.navbar ul li a:hover{
background-color: rgba(0, 0, 0, 0.197);
}
.navbar{
z-index:3;
position:fixed;
top:0px;
width:1510px;
margin:auto;
padding:15px 0px 15px 0px;
display:flex;
flex-direction: row-reverse;
align-items:center;
justify-content: space-between;
box-shadow: var(--color6gr) 4px 4px ;
background-color: var(--color1b);
text-shadow: 1px 1px 2px black;
}
/*
navbar more
*/
.more{ margin: 0px 15px 0px 0px; 
color:white;   }
.navbar .sm1 li:hover:after{
width:0%;
}
.sm1 li{
position:absolute;
width:220px;
text-align:top;
background:var(--color1b);
box-shadow: var(--color6gr) 4px 4px ;
padding-bottom: 15px;
padding-top:15px;
height:30px;
}
#gal,#blg,#clnt{
padding-left:82px;
padding-right:82px;
padding-top:8px;
}
#ota,#otp{
padding-left:25px;
padding-right:25px;
padding-top:8px;
}
.more:hover{
background-color:#3e3e3e;
}
.sm1 li a:hover{
background-color: transparent;
color:aliceblue;
}
  .submenu{
    display:none;
  }
  .submenu li{
    border-bottom:1px solid darkblue;
  }
  .submenu li :last-child{
    border-bottom:none;
  }
  .navbar ul li:hover .submenu{
    display:block;
    position:absolute;
    margin-top:0px;
    margin-left:-15px;
    top:19px;
    right:-60px;
  } 
  .more .fa-caret-down{
    position: absolute;
    right:-12px;
    display: inline-flex;
    margin:2px;
    background-color: transparent;
      }
      /*---------------
      main section
      ----------------
      */
.tp{
    position: relative;
    top:160px;
    left:60px;
    background-color: rgba(0, 0, 0, 0.36);
    padding:5px;
    color:white;
    text-transform: capitalize;
    font-weight: 600;
    font-size:30px;
    text-shadow: 1px 1px 2px black;
    box-shadow: black 2px 2px;
}
.tpbox{
    position:absolute;
    top:280px;
    left:290px;
    display: grid;
    grid-template-rows: repeat(3,150px);
    grid-template-columns: repeat(4,200px);
    row-gap: 40px;
    column-gap: 40px;
}
.tp:hover{
    color:rgba(241, 34, 34, 0.945);
    cursor:pointer;
    transition-delay: 0.2s;
}
.img1{
    height:140px;
    width:160px;
}
.img{
    height:140px;
    width:160px;
}
.box{
    display: block;
}
.box:hover{
    filter: saturate(0);
    cursor:pointer;
   box-shadow: black 1px 1px;
   zoom: 102%;
}
.txt1{
    /*enquiry*/
    color:rgba(0, 0, 255, 0.629);
    position:absolute;
    right:250px;
    top:940px;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}
.txt1:hover{
    color:rgba(34, 34, 248, 0.504);
    cursor: pointer;
    font-size: large;
}
 /*
  -----------------------------
query section
  ----------------------------------------
*/
.divform .f{
  background-color: transparent;
  border-style: none;
  color:var(--color1b);
  border-bottom: 1px solid grey;
  width:60%;
  height:25px;
  margin:1px 0px;
  margin-left:-10px;
}
.divform #name{
  margin-top:10px;
}
.divform .btnsubmit{
  cursor:pointer;
  background-color: var(--color1b2);
  margin:1px 0px;
  padding: 2px;
  border: 2px solid var(--color3g);
  border-radius:10%;
  box-shadow: 2px 3px 2px 1px black;
  display: inline-block;
}
.divform #ma{
width:60%;
height:10px;
margin:12px 0px;
margin-left:-10px;
border-style: none;
border-bottom: 1px solid black;
background-color: rgb(252, 252, 252);
}
.divform{
  display: inline-block;
  position:fixed;
  z-index:2;
  padding:10px;
  padding-right: 80px;
  border: 4px solid var(--color1b);
  box-shadow:rgba(1, 10, 100, 0.588) 4px 4px;
  background-color: rgb(252, 252, 252);
  top:25vh;
  left:36vw;
  width:300px;
  height:350px;
  border: 2px solid rgb(0, 0, 0);
  display: none;
  transform: scale(0.1);
  transition:all 2s ;
}
.btns{
  display: inline-block;
  position: relative;
  top:20px;
  left:90px;
  display: flex;
  gap:20px;
}
.openpop{
  display: block;
  transform: scale(1);
}
.divform #xyz{
  top:80px;
  height:330px;
  left:620px;
  width:290px;
}
.divform .formdesign{
  padding:5px 5px;
  position: relative;
  left:60px;
}
.divform .f:hover{
  cursor: auto;
}
.divform .fa-x{
  position:absolute;
  right:11px;
  top:10px;
  width:15px;
}
.fa-x:hover{
  cursor:pointer;
}
.divform .fhead{
  background-color: var(--color1b2);
   color:rgb(3, 3, 61) ;
  margin-bottom: 20px;
 margin-left:5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 700;
  font-size: 150%;
}
 /*
  -----------------------------
 animation section
  ----------------------------------------
*/
.tracking-in-expand {	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both; animation: tracking-in-expand 2.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;}
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;    }
    40% {
      opacity: 0.6;    }
    100% {      opacity: 1;
    }  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }  }
.slide-right {
	-webkit-animation: slide-right 0.9s ease-out 0.4s both;
	        animation: slide-right 0.9s ease-out 0.4s both;
} @-webkit-keyframes slide-right {
  0% {    -webkit-transform: translateX(0);
            transform: translateX(0);  }  100% {    -webkit-transform: translateX(100px);
            transform: tranlateX(100px);
  }}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
  .slide-in-left {
    -webkit-animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {    -webkit-transform: translateX(-1000px);            transform: translateX(-1000px);    opacity: 0;  }
  100% {
    -webkit-transform: translateX(0);            transform: translateX(0);    opacity: 1;  }
}
.slide-in-right {	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;}
 @-webkit-keyframes slide-in-right {  0% {    -webkit-transform: translateX(1000px);            transform: translateX(1000px);    opacity: 0;  }
  100% {    -webkit-transform: translateX(0);            transform: translateX(0);    opacity: 1;  }
}
@keyframes slide-in-right {  0% {    -webkit-transform: translateX(1000px);            transform: translateX(1000px);    opacity: 0;  }
  100% {    -webkit-transform: translateX(0);            transform: translateX(0);    opacity: 1;  }}
.slide-in-top{-webkit-animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
/*How to get animations on load?
--------------
templates
--------------
*/